{# {% from 'src/templates/partials/ui/icon.twig' import icon %} #}
<section class="banner">
	<h1 class="banner__title">{{ banner.title }} 1233
	</h1>
	<p class="banner__subtitle">{{ banner.subtitle }}</p>
	<img src="#" alt="Banner">
	<dl class="banner__list">
		{% for item in banner.list %}
			<dt class="banner__number">{{item.number }}</dt>
			<dd class="banner__label">{{ item.label }}</dd>
		{% endfor %}
	</dl>
	{% for button in bunner.buttons %}
		{% if button.type == "link" %}
			<button class="{{ button.class }}">{{ button.label }}</button>
			<a href="{{ button.url }}" class="button {{ button.class }}">{{ button.label }}</a>
		{% endif %}
	{% endfor %}
</section>
