<section class="catalog">
  <h2 class="catalog__title">{{ catalog.title }}</h2>

  <a href="{{ catalog.viewAll.url }}" class="button catalog__view-all">
    {{ catalog.viewAll.label }}
  </a>

  <button class="catalog__prev-button">{{ catalog.prevLabel }}</button>
  <button class="catalog__next-button">{{ catalog.nextLabel }}</button>

  <ul class="catalog__list">
    {% for item in catalog.items %}
      <li class="catalog__item">
        {% include 'catalog-card.twig' with { item: item } %}
      </li>
    {% endfor %}
  </ul>
</section>
