<header class="header">
  <img src="{{ header.logo.src }}" alt="{{ header.logo.alt }}" class="header__logo">

  <nav class="header__nav">
    <ul class="header__menu">
      {% for item in header.nav %}
        <li class="header__menu-item">
          <a href="{{ item.url }}" 
             class="header__menu-link{% if item.active %} header__menu-link--active{% endif %}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% for button in header.buttons %}
    {% if button.type == "link" %}
      <a href="{{ button.url }}" class="button {{ button.class }}">{{ button.label }}</a>
    {% elseif button.type == "button" %}
      <button class="button {{ button.class }}">{{ button.label }}</button>
    {% endif %}
  {% endfor %}
</header>
